<div class="row marketing">

  <h2>Your Likes</h2>
  <div class="col-lg-6">

    <% @instagram.each do |image|%>

      <p><%= image_tag (image.images.thumbnail.url) %> </p>
      <p><%= image.caption.text %></p>
      <p>
        <div class="col-xs-2">
        <ul class="list-unstyled">
        <% image.likes['data'].each do |com| %>

            <li> <%= image_tag(com.profile_picture , :class => "img-circle", :size => "50x50" )%> </li>

        <% end %>
        </ul>
      </div>
      </p>
    <% end %>
 </div>

</div>