<div class="jumbotron">
    <h4>View your latest IG Likes</h4>
</div>

<div class="row marketing">

  <div class="col-lg-6">

    <% @instagram.each do |image|%>

      <p><%= image_tag (image.images.thumbnail.url) %> </p>
      <p><%= image.caption.text %></p>
      <p>
        <ul class="list-unstyled">
        <% image.likes['data'].each do |com| %>

            <li> <%= image_tag(com.profile_picture , :class => "img-circle", :size => "50x50" )%> </li>

        <% end %>
        </ul>

      </p>
    <% end %>
 </div>

</div>